{% extends "base.html" %}

{% block content %}
    <h1>Add A Blog Entry</h1>
    <form action='/newpost' method='post' >
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>
                            Title for Your New Blog:
                            <input type="text" name='title' value='{{title}}'/>
                            <p class='error'>{{title_error}}</p>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>   
                        <label>
                            Your New Blog:
                            <textarea type="text" name='body' value='{{body}}'></textarea>
                            <p class='error'>{{body_error}}</p>  
                        </label>
                    </td> 
                </tr>       
            </tbody>
        </table>
        <input type="submit" value='Add Entry' />
    </form>



{% endblock %}